.signupform {
    border: 1px solid #203272;
    background-color: #add8e65e;
}

.signup {
    padding-top: 3rem;
}

.row {
    padding: 0px;
}

.login-head {
    line-height: 30.24px;
    letter-spacing: 0.0125em;
    text-align: left;
}

.loginform {
    border: 1px solid #203272;
    background-color: #add8e65e;
}

.signup {
    font-size: 14px;
}

.form-password-input {
    position: relative;
}

.passcode-switch {
    position: absolute;
    top: 5px;
    right: 11px;
    color: #7c7c7c;
}

.table_heading_cls {
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 22px;
    line-height: 30.24px;
    margin-bottom: 1rem;
}

.section_background_color {
    background-color: #fff;
    border-radius: 24px;
    padding: 24px;
}

.searchbar_main_div {
    position: relative;
}

.searchbar_icon {
    position: absolute;
    font-size: 22px;
    top: 10px;
    left: 12px;
    color: rgba(123, 122, 123, 1);
}

.searchbar_input {
    padding: 0.5rem;
    padding-left: 3rem;
}